// Default styles to challenge page
.attribution { font-size: 20px; text-align: center;color: #fff}
.attribution a { color: hsl(228, 45%, 44%); }
// My styles
:root{--white: rgb(240, 240, 240)}
$radio: 10px;
$padding: 10px;
$time-transition: .6s;
$color-header-outline:hsl(217, 16%, 45%);
$background-todo: radial-gradient(rgb(31, 55, 86), rgb(20, 21, 57));
$distancia-top: 10%;
$foter:2;
*{
    margin: 0; padding:0;
    font-family: 'Barlow Semi Condensed', sans-serif;
    z-index: 2;
}
body{
    background: $background-todo;
    z-index: 2;
    @media screen and (max-width: 750px){
        width:100%;
    }
}
main{
    position:relative;
    z-index: 50;
    width: 100%;
    height:100vh - $foter;
    color:var(--white);
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    @media screen and (max-width: 750px){
        height:100vh;
        .juego-content{
            width:100%;
            height:100%;
        }
    }
    .header{
        position:relative;
        top: $distancia-top;
        border: 2px solid $color-header-outline;
        border-radius: $radio;
        display:flex;
        width: 35pc;
        height:auto;
        font-weight: 600;
        font-size: 25px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: normal;
        padding: $padding;
        @media screen and (max-width: 750px){
            width: 80%;
            place-items: center;
            margin: auto;
            top: 2%;
        }

        .text-static{
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            line-height: .9;
            padding:$padding;
            @media screen and (max-width: 750px){
                padding: 0;
            }
        }
        .score-content{
            background: var(--white);
            color:hsl(229, 25%, 31%);
            display:flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: $padding;
            border-radius: $radio;
            .score-text{font-size: 12px;color:hsl(229, 64%, 46%);}
            .score-number{font-size: 40px;}
            @media screen and (max-width: 750px){
                width: 85px;
                padding: 7px;
            }
        }
    }
    .bRules{
        position: absolute;
        $distancia: 4%;
        bottom:$distancia;
        right: $distancia/2;
        #bRules{
            width:110px;
            height:30px;
            border-radius: $radio;
            border: 2px solid $color-header-outline;
            background: transparent;
            color:var(--white);
            transition: background $time-transition;
        }
        #bRules:hover{
            background:$color-header-outline;
        }
        @media screen and (max-width: 750px){
            position: absolute;
            display: flex;
            justify-content: center;
            /* top: 0; */
            left: 0;
            right: 0;
            bottom: 3%;
            #bRules{
                width: 138px;
                height: 41px;
            }
        }
    }
    .options{
        position:absolute;
        left:0;
        top:$distancia-top + 20;
        // border:2px solid red;
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 750px){
            top:30%;
        }
        .options-content{
            // border:2px solid rgb(0, 0, 0);
            // transform: translateY(-200%);
            background:url(../images/bg-triangle.svg);
            background-repeat: no-repeat;
            background-position: center;
            width:300px;
            height:300px;
            transition: all .5s;
            @media screen and (max-width: 750px){
                background-size: cover;
                width: 190px;
                height: 190px;
            }
            .option{
                $tamano: 165px;
                $tamanoMobile:145px;
                position:absolute;
                width: $tamano;
                height: $tamano;
                & img{
                    transition:transform $time-transition - .1;
                    height:$tamano;
                }
                & img:hover{transform: scale(1.2)}
                & img:active{transform: rotate(15deg)}
                
                @for $i from 1 through 3{
                    --p-1: -40px;
                    --p-2: 175px;
                    --p-3: 70px;
                    --pB-1: -40px;
                    --pB-2: -40px;
                    --pB-3: 180px;
                    &:nth-child(#{$i}){
                        transform: translate(var(--p-#{$i}), var(--pB-#{$i}));
                        // background:red;
                    }
                }
                @media screen and (max-width: 750px){
                    width: $tamanoMobile ;
                    height: $tamanoMobile;
                    & img{
                        height:$tamanoMobile;
                    }
                    @for $i from 1 through 3{
                        --p-1: -60px;
                        --p-2: 120px;
                        --p-3: 30px;
                        --pB-1: -55px;
                        --pB-2: -55px;
                        --pB-3: 100px;
                        &:nth-child(#{$i}){
                            transform: translate(var(--p-#{$i}), var(--pB-#{$i}));
                            // background:red;
                        }
                    }
                }
                
            }
        }
        .options-content-lucha{
            // border:2px solid rgb(0, 0, 0);
            // background:url(../images/bg-triangle.svg);
            position:absolute;
            transform: translateY(-400%);
            width:100%;
            height:300px;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            transition: all .5s;
            @media screen and (max-width: 750px){
                top:-35%;
            }
            .option{
                position:relative;
                $tamOp: 270px;
                width: $tamOp;
                height: $tamOp;
                display:flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition:all $time-transition - .1;
                & img{
                    height:100%;
                    transition:all $time-transition + .1;
                    
                }
                & img:active{transform: rotate3d(1, 1, 1, 360deg);}
                h2{
                    padding-bottom: 50px;
                }
                @media screen and (max-width: 750px){
                    width: auto;
                    height: auto;
                    & img{
                        height: 150px;
                    }
                }
            }
            $lugar: 200px;
            .trns-1{
                transform:translateX($lugar);
            }
            .trns-2{
                transform:translateX($lugar * -1);
            }
            .Resultado{
                position: absolute;
                grid-row-gap: 16px;
                display: grid;
                left: 50%;
                max-width: max-content;
                // opacity: 0;
                row-gap: 16px;
                top: 50%;
                transform: translate(-50%,-50%);
                .Resultado-title{
                    font-size: 56px;
                    font-weight: 700;
                    line-height: 67px;
                    pointer-events: none;
                    text-align: center;
                }
                .Resultado-button{
                    background: linear-gradient(0deg,#f3f3f3,#fff);
                    border-radius: 8px;
                    border:none;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 2.5px;
                    line-height: 19px;
                    padding-block: 14.5px;
                    padding-inline: 61px;
                }
                
            @media screen and (max-width: 750px){
                row-gap: 0;
                top: 120%;
                width: 100%;
                .Resultado-title{
                    font-size: 45px;
                }
                .Resultado-button{
                    font-size: 16px;
                    font-weight: 600;
                    padding:13px;
                }
            }
            }
        }
    }
}

.RulesDiv{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:107.5%;
    background:#00000080;
    z-index: 100;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#3b4363;
    pointer-events: all;
    .contentRules{
        background: #fff;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 400px;
        min-height: 345px;
        padding: 32px;
        font-size: 19px;
        
        .Rules-Content-Header{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            button{
                background: transparent;
                border:none;
                cursor: pointer;
            }
        }
    }
}

.help{
    display: inline-block;
    position: absolute;
    bottom: 0;
    margin-bottom: 6px;
    margin-left: 10px;
    z-index: 90;
  }
  .help a{
    display: contents;
  }
  #svg-icon-help{
    width:auto;
    height: 40px;
    transition: all 0.5s;
    border-radius: 100px;
  }
  #svg-icon-help:active{
    opacity: .8;
  }
  #svg-icon-help:hover{
    transform: scale(.9);
  }
  .ventana{
  background: linear-gradient(90deg, rgba(180,164,232,1) 0%, rgb(218 164 232) 35%, rgba(243,196,214,1) 100%);
  width:40%;
  padding: 20px;
  margin: 20% auto;
  position: relative;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-end;
  }
  .modal{
  background-color: rgba(0,0,0,.8);
  position:absolute;
  height: 101.3%;
  
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
  
  z-index: 1000;
  }
  @media screen and (max-width: 750px) {
    
    .modal{
      height: 107.2%;;
      }
    .ventana{
      width: 80%;
    }
  }
  .contenido-ayuda{
    width: 100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    font-family: 'Roboto Mono', monospace;
  }
  .contenido-ayuda h2{
    place-self: center;
  }
  #cross{
    display:contents;
  }
  #cross img{
    width:25px;
    height:auto;
  }
  #IrVentanaFlotante:target{
  opacity:1;
  pointer-events:auto;
  }